html {
  font-family: sans-serif, 'Noto Sans JP','Quicksand','Montserrat';
  overflow-y: scroll;
}

body {
  margin: 0em;
  background-image: url("../resources/images/background/lobby_overlook_contrast.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

a
{
  color: #0000FF;
  font-weight: bold;
}

a:hover
{
  color: #000088;
  font-weight: bold;
}

.br::after
{
  content: "\A";
  white-space: pre;
}

label, input[type='checkbox'], input[type='radio'], input[type='file'], button
{
  cursor: pointer;
}

.label_hover:hover
{
  background-color: #fb7c03;
  border-radius: 4px;
}

.header
{
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-image: url("../resources/images/background/title/title2_upper.png");
  background-size: 1020px 100%;
  background-repeat: no-repeat;
  height: 145px;
}

.title
{
  padding: 5.3em 0 0 13em;
  color: #FFFFFF;
}

h1
{
  margin: 0;
}

.subTitle
{
  font-size: 70%;
}

.settings
{
  display: flex;
  background-image: url("../resources/images/background/title/title2_under.png");
  background-size: 1020px 100%;
  background-repeat: no-repeat;
  font-size: 80%;
  height: 40px;
}

.volume
{
  display: flex;
  padding: 0.2em 0 0 8.2em;
}

.volume img
{
  padding: 0em 0.5em 0 0em;
  height: 22px;
}

.volume input[type=range]
{
  margin: 0;
  width: 40px;
  height: 22px;
}

.theme
{
  background:rgba(0, 99, 54, 0.8);
  border-radius: 10px;
  margin: 1em 0 0 5.5em;
  padding: 0 0.5em 0 0.5em;
  height: 20px;
}

.theme_label
{
}

.contents
{
  margin: 1em 2em 0 2em;
}


.notification_wrap
{
  display: flex;
  height: 100px;
  width: 1100px;
}

.notification_left
{
  background-image: url("../resources/images/background/hukidashi/hukidashi_left_pink.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 53px;
}

.notification_body
{
  background-image: url("../resources/images/background/hukidashi/hukidashi_body_pink.png");
  background-size: contain;
  background-repeat: repeat-x;
}

.notification_right
{
  background-image: url("../resources/images/background/hukidashi/hukidashi_right_pink.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 58.5px;
}

.notification
{
  z-index: 100;
  overflow-x: hidden;
  overflow-y: scroll;
  display: inline-block;
  color: #000000;
  padding: 0.5em 0em 0.5em 0em;
  font-size: 80%;
}

.notification .info
{
  background-image: url("../resources/images/icon/notification/info_black.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 3px;
  width: 3px;
}

.notification .caution
{
  background-image: url("../resources/images/icon/notification/caution_black.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 3px;
  width: 3px;
}

.notification .resolved
{
  background-image: url("../resources/images/icon/notification/resolved_black.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 3px;
  width: 3px;
}

.notification td
{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.notification tbody {
}

.notification p {
  margin: 0;
}

.input
{
  margin-top: 1em;
}

.input_bg_wrap
{
  display: flex;
  color: #000000;
  height: 95px;
  width: 1100px;
}

.input_bg_left
{
  background-image: url("../resources/images/background/hukidashi/hukidashi_left_green.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
}

.input_bg_body
{
  background-image: url("../resources/images/background/hukidashi/hukidashi_body_green.png");
  background-size: contain;
  background-repeat: repeat-x;
}

.input_bg_right
{
  background-image: url("../resources/images/background/hukidashi/hukidashi_right_green.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 55px;
}

.input_text_wrap
{
  display: flex;
}

.input_text_wrap .input_text_btn
{
  padding-top: 2em;
}

.desc
{
  padding: 0.5em 0em 0.5em 0em;
  font-size: 80%;
}

.space
{
  /* padding-left: 2em; */
}

.inputb
{
 margin-top: 0em;
}

.sticky
{
  /* background: linear-gradient( 90deg, rgba(0, 20, 0, 0.6), rgba(0, 0, 0, 0)),
  url("../resources/images/background/lobby_overlook_contrast.png"); */
  background-image: url("../resources/images/background/lobby_overlook_contrast.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: sticky;
  top: 0em; /*ここで止める位置を調整する*/
  z-index: 100;
  padding: 1em 0em 0em 0em;
  width: auto;
  font-size: 90%;
}

.sticky_indent
{
  padding: 0 2em 0 2em;
}

.lang
{
  /* font-size: 100%; */
  display: flex;
  align-items: center;
}


.lang_label
{
  padding: 0em 0.5em 0 0em;
}

.itemcodeb
{
  height: 25px;
  margin-left: 0.5em;
}

.search
{
  margin-top: 0.5em;
}

.reset
{
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 25px;
  border-radius: 20px;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.delete
{
  background-image:url('../resources/images/icon/button/batsu.png');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 0.1em;
}

.types
{
  display: flex;
  align-items: center;
  margin-bottom: 0.1em;
}

.type_label
{
  padding-right: 0.2em;
}

.wordsearch
{
  display: flex;
  align-items: center;
}

.wordsearch .sep
{
  margin-right: 0.5em;
}

.word
{
  resize: none;
  width: 250px;
  height: 15px;
}

.elements
{
  resize: none;
  width: 130px;
  height: 21px;
}

.hit
{
  resize: none;
  width: 80px;
  height: 21px;
}

::placeholder {
  style: italic;
  font-style: italic;
  color: #AAAAAA;
}

.unTekked
{
}

.download
{
  margin-top: 0.5em;
  height: 30px;
}

.pager
{
  display: table;
  width: 900px;
  margin-top: 0.5em;
}

.page
{

  height: 25px;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.data {}

.data_window {
  width: 1000px;
}

.data .data_title_wrap
{
  display: flex;
  margin: 1em 0 -1.3em 0em;
  position: relative;
}

.data h2
{
  /* padding: 0em 0 0em 2em; */
  padding: 0em 0 0em 1em;
  margin: 1em 0 1em 0;
  color: #000000;
  font-size: 150%;
  text-align: center;
  background-image: url("../resources/images/background/data/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.data .data_title
{
  display: flex;
  padding: 0em 0em 0em 0em;
  height: 40px;
  display: table;
}

.data .data_title_left
{
  width: 30px;
  background-image: url("../resources/images/background/data/data_title_left.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: table-cell;
  vertical-align: middle;
  background-position: right;
}

.data .data_title_right
{
  width: 30px;
  background-image: url("../resources/images/background/data/data_title_right.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: table-cell;
  vertical-align: middle;
  background-position: left;
}

.data .data_title_body
{
  padding: 0;
  width: 250px;
  background-image: url("../resources/images/background/data/data_title_body.png");
  background-size: contain;
  background-repeat: repeat;
  display: table-cell;
  vertical-align: middle;
}

.data .data_number
{
  display: flex;
  margin-left: -0.5em;
  padding: 0;
  height: 40px;
  display: table;
}

.data .data_number_left
{
  width: 30px;
  background-image: url("../resources/images/background/data/number_left.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: table-cell;
  vertical-align: middle;
  background-position: right;
}

.data .data_number_right
{
  width: 30px;
  background-image: url("../resources/images/background/data/number_right.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: table-cell;
  vertical-align: middle;
  background-position: left;
}

.data .data_number_body
{
  width: 100px;
  background-image: url("../resources/images/background/data/number_body.png");
  background-size: contain;
  background-repeat: repeat;
  font-size: 120%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

.data table {
  width: 100%;
  border-spacing: 0px;
}

.data th {}
.data tr {}

.data td
{
  padding: 0 0 0 2em;
  font-size: 100%;
  color: #ffffff;
  font-weight: bold;
  table-layout: fixed;
  width: 0;
}

.data .data_td_item {}

.data .data_td_slot
{
  padding: 0 1em 0 0em;
}

.magcolor
{
  display: inline-block;
  width: 12px;
  height: 12px;
}


.data tr:hover {
  background-image: url("../resources/images/background/data/cursor.png");
  background-size: 97% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.data_header
{
  height: 27px;
  width: 100%;
  background-image: url("../resources/images/background/data/data_header.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.data_body
{
  background-image: url("../resources/images/background/data/data_body.png");
  background-size: 100%;
}

.data_footer
{
  height: 25px;
  width: 100%;
  background-image: url("../resources/images/background/data/data_footer.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.sectionid
{
  display: flex;
}

.sectionid_text
{
  white-space: nowrap;
}

.sectionid_image
{
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  padding: 0 0.3em 0 0.3em;
}
