body
{
  margin: 0em;
  background-color: #faebd7;
  background-image: url("../resource/raclcp.png");
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: right 0% top 10%;
  background-attachment: fixed;

}

h1
{
    background-image: url("../resource/titleback.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    margin: 0em;
    padding: 1em 1em 1em 1em;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    border-color: : #afeeee;
    background-color: #111111;
}

.contents
{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.input
{
  font-size: 80%;
  margin-bottom: 2em;
}

.desc p
{
  margin: 0em;
}

.lang
{
  font-size: 80%;
}

.data{}

h2
{
  opacity:0.8;
  overflow:auto;
  margin-top: 1em;
  padding: 0em 0 0em 2em;
  color: #ffffff;
  background-color: #444444;
  border-color: : #afeeee;
  background-image: url("../resource/redbox_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
}

table {}
th {}
td
{
  font-size: 80%;
  padding-left: 0.5em;
  padding-right: 0.5em;

}

.pager
{
}
