
body
{
  margin: 0em;
  background-color: #faebd7;
  background-image: url("../resources/images/background/racast.png");
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: right 0 bottom -300px;
  background-attachment: fixed;
  font-family: sans-serif, 'Noto Sans JP','Quicksand','Montserrat';
}

h1
{
  background-image: url("../resources/images/background/title.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
  margin: 0em;
  padding: 1em 1em 1em 1em;
  color: #FFFFFF;
  height: 50px;
  border-color: : #afeeee;
  background-color: #111111;
}

.contents
{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.input
{
  font-size: 80%;
  margin-top: 2em;

}

.desc
{
}

a
{
  color: #fa8072;
  font-weight: bold;
}

a:hover
{
  color: #cd5c5c;
  font-weight: bold;
}

.lang
{
  font-size: 80%;
}

.search
{
  margin-top: 0.5em;
  font-size: 80%;
}

.type
{
  display: flex;
}

.wordsearches
{
  display: flex;
}

.wordsearches .sep
{
  margin-right: 0.5em;
}

.word
{
  resize: none;
  width: 250px;
}

.element
{
  resize: none;
  width: 150px;
}

.att
{
  resize: none;
  width: 60px;
}

::placeholder {
  style: italic;
  font-style: italic;
  color: #a9a9a9;
}

.unTekked
{
  vertical-align: middle;
}

.searchb
{
  background-image:url('../resources/images/icon/search.png');
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: center;
  width: 22px;
  height: 20px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.sticky
{
  position: -webkit-sticky;
  position: sticky;
  top: 0em; /*ここで止める位置を調整する*/
  z-index: 1;
  background-color: #faebd7;
  padding: 1em 0em 1em 0em;
  width: auto;
}

.data{}

h2
{
  opacity:0.9;
  overflow: auto;
  padding: 0em 0 0em 2em;
  color: #ffffff;
  background-color: #444444;
  border-color: : #afeeee;
  background-image: url("../resources/images/icon/redbox_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
}

.data table {}
.data th {}
.data td
{
    font-size: 80%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.notification
{
  z-index: 1;
  background-color: #faebd7;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100px;
  display: inline-block;
  width: auto;
}

.notification .info
{
  background-image: url("../resources/images/icon/info.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.notification .caution
{
  background-image: url("../resources/images/icon/caution.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.notification .solved
{
  background-image: url("../resources/images/icon/solved.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.notification td
{
  font-size: 80%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.notification tbody {
}

.notification p {
  margin: 0;
}
