html {
  font-family: sans-serif, 'Noto Sans JP','Quicksand','Montserrat';
}

body
{
  margin: 0em;
  background-color: #faebd7;
  background-image: url("../resources/images/background/racast.png");
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: right 0 bottom -300px;
  background-attachment: fixed;
}

a
{
  color: #fa8072;
  font-weight: bold;
  word-wrap: break-word;
}

a:hover
{
  color: #cd5c5c;
  font-weight: bold;
}

.header
{
  font-family: 'Orbitron', sans-serif;
  background-image: url("../resources/images/background/title/title.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #111111;
  opacity: 0.8;
}

.title
{
  padding: 2em 0 2em 2em;
  font-family: 'Orbitron', sans-serif;
  color: #FFFFFF;
}

h1
{
  margin: 0;
}

.subTitle
{
  font-size: 80%;
  padding: 0em 0 0 0.5em;
}

.volume
{
  height: 0px;
  opacity: 0;
}

.theme
{
  font-size: 80%;
  padding-left: 1em;
  background-color: #D3C7B8;
  opacity: 0.9;
}


.contents
{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.input
{
  font-size: 80%;
  margin-top: 2em;

}

.desc{}

.itemcodeb
{
  height: 25px;
}

.lang
{
  font-size: 80%;
}

.sticky
{
  position: -webkit-sticky;
  position: sticky;
  top: 0em; /*ここで止める位置を調整する*/
  z-index: 1;
  background-color: #faebd7;
  padding: 1em 0em 1em 0em;
  width: auto;
}

.search
{
  margin-top: 0.5em;
  font-size: 80%;
}

.type
{
  display: flex;
}

.wordsearch
{
  display: flex;
}

.wordsearch .sep
{
  margin-right: 0.5em;
}

.word
{
  resize: none;
  width: 250px;
}

.element
{
  resize: none;
  width: 150px;
}

.att
{
  resize: none;
  width: 60px;
}

::placeholder {
  style: italic;
  font-style: italic;
  color: #a9a9a9;
}

.unTekked
{
  vertical-align: middle;
}

.reset
{
  background-image:url('../resources/images/icon/button/batsu.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.download
{
  margin-top: 0.5em;
  height: 30px;
}

.pager
{
  display: table;
  margin-top: 0.5em;
}

.page
{
  height:  25px;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.data{}

.data .data_title_wrap
{
  height: auto;
  display: flex;
  overflow: auto;
  margin: 1em 0em 1em 0;
  padding: 0em 0 0em 3em;
  color: #ffffff;
  background-color: #555555;
  border-color: : #afeeee;
  background-image: url("../resources/images/icon/data/redbox_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
  opacity: 0.9;
}

.data .data_title
{
  margin-right: 2em;
}

.data .data_title_body
{
  margin: 0;
}

h2
{}

.data .data_number
{
  font-size: 150%;
  align-self: center;
}

.data .data_body
{
}

.data table {}
.data th {}
.data td
{
  font-size: 80%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.magcolor
{
  display: inline-block;
}

.notification
{
  z-index: 1;
  background-color: #faebd7;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100px;
  display: inline-block;
  width: auto;
}

.notification .info
{
  background-image: url("../resources/images/icon/notification/info.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.notification .caution
{
  background-image: url("../resources/images/icon/notification/caution.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.notification .resolved
{
  background-image: url("../resources/images/icon/notification/resolved.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.notification td
{
  font-size: 80%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.notification tbody {
}

.notification p {
  margin: 0;
}

.sectionid
{
  display: flex;
}
.sectionid_text
{
  display: inline-block;
}
.sectionid_image
{
  width: 0;
  height: 0;
  padding: 0 0em 0 0.3em;
  display: inline-block;
}
